.cart-h {
  margin: 3rem auto 0.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.cart {
  padding: 0 2rem 2rem;
  border-bottom: 1px solid #282828;
  max-width: 600px;
  margin: 4rem auto 2rem;

  @include PadsPro() {
    max-width: unset;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
  }

  @include Laptops() {
    max-width: unset;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
  }

  @include HiDPI() {
    max-width: 1300px;
    width: unset;
    display: flex;
    align-items: center;
    position: relative;
  }

  img {
    width: 100%;
    height: 300;

    @include PadsPro() {
      margin-right: 3rem;
      width: 300px;
      height: 300px;
    }

    @include Laptops() {
      margin-right: 3rem;
      width: 300px;
      height: 300px;
    }

    @include HiDPI() {
      margin-right: 3rem;
      width: 300px;
      height: 300px;
    }
  }
}
