.product-container {
  padding: 1rem 1rem;
  margin: 0 auto;

  @include Laptops() {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 1000px;
  }

  @include HiDPI() {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 1200px;
  }

  .p-info {
    max-width: 400px;
    margin: 2rem auto;

    .description {
      margin: 1rem 0;

      @include Laptops() {
        font-size: 20px;
      }

      @include HiDPI() {
        font-size: 20px;
      }
    }

    h3 {
      @include Laptops() {
        font-size: 20px;
      }

      @include HiDPI() {
        font-size: 20px;
      }
    }

    button {
      background: #282828;
      color: #fff;
      padding: 0.8rem 1rem;
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
      margin: 2rem 0 1rem;
      cursor: pointer;
      border: none;
    }
  }
}
