.profileH {
  text-align: center;
  margin-top: 2rem;

  h1 {
    font-weight: 300;
    font-size: 3rem;
  }

  h4 {
    font-weight: 200;
  }
}

.account-tab {
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    cursor: pointer;
    color: #7c7c7c;
    font-weight: 600;
    transition: color 0.4 ease;
  }

  .active-tab {
    color: #181818;
  }
}
