.delivery {
  padding: 0.5rem 0;

  h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
  }

  @include PadsPro() {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }

  @include Laptops() {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }

  @include HiDPI() {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}
