@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home .home-bg {
  background-color: #282828;
  height: 90vh;
  width: 100%;
}

@media (min-width: 735px) and (max-width: 1023px) {
  .home .home-bg {
    height: 40vh;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .home .home-bg {
    height: 50vh;
    margin-top: -10vh;
    z-index: -1;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home .home-bg {
    height: 100vh;
    margin-top: -10vh;
    z-index: -1;
  }
}

@media (min-width: 1440px) {
  .home .home-bg {
    height: 100vh;
    margin-top: -10vh;
    z-index: -1;
  }
}

.home .home-intro-section {
  text-align: center;
  padding: 4rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.home .home-intro-section h5 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .home .home-intro-section h5 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home .home-intro-section h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .home .home-intro-section h5 {
    font-size: 1.2rem;
  }
}

.home .home-intro-section h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  color: #282828;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .home .home-intro-section h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home .home-intro-section h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1440px) {
  .home .home-intro-section h1 {
    font-size: 6rem;
  }
}

.lg-nav {
  display: none;
  color: #000;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lg-nav {
    display: block;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .lg-nav {
    display: block;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .lg-nav {
    display: block;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1800px;
    margin: 0 auto;
  }
}

.lg-nav .logo h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
}

.lg-nav .logo a {
  color: inherit;
}

.lg-nav .lg-nav-li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lg-nav .lg-nav-li ul li {
  list-style: none;
  margin: 0 1rem;
  font-size: 0.9rem;
  cursor: not-allowed;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .lg-nav .lg-nav-li ul li {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  .lg-nav .lg-nav-li ul li {
    font-size: 1.1rem;
  }
}

.lg-nav .lg-nav-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .lg-nav .lg-nav-i {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  .lg-nav .lg-nav-i {
    font-size: 1.1rem;
  }
}

.lg-nav .lg-nav-i a {
  color: inherit;
  text-decoration: none;
}

.sm-nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
}

@media (min-width: 568px) and (max-width: 734px) {
  .sm-nav {
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .sm-nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .sm-nav {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .sm-nav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .sm-nav {
    display: none;
  }
}

.sm-nav .sm-nav-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.sm-nav .sm-nav-logo h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.sm-nav .sm-nav-logo a {
  color: inherit;
}

.sm-nav .sm-nav-li {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 100;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 350px) and (max-width: 567px) {
  .sm-nav .sm-nav-li {
    font-size: 1.4rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .sm-nav .sm-nav-li {
    font-size: 1.4rem;
  }
}

.sm-nav .sm-nav-li .sm-i {
  cursor: pointer;
}

.sm-nav .sm-nav-li .d-none {
  z-index: -20;
  color: transparent;
}

.search-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 10;
  background-color: rgba(139, 139, 139, 0.4);
}

.search {
  z-index: 25;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.search .search-content {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 735px) and (max-width: 1023px) {
  .search .search-content {
    width: 400px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .search .search-content {
    width: 700px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .search .search-content {
    width: 700px;
  }
}

@media (min-width: 1440px) {
  .search .search-content {
    width: 700px;
  }
}

.search .search-content input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cecece;
  padding: 0.5rem 0rem;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: #282828;
  font-weight: 400;
}

@media (min-width: 350px) and (max-width: 567px) {
  .search .search-content input {
    font-size: 1.2rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .search .search-content input {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .search .search-content input {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .search .search-content input {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .search .search-content input {
    font-size: 1.4rem;
  }
}

.search .search-content input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #282828;
}

.search .search-content input:-ms-input-placeholder {
  font-size: 1rem;
  color: #282828;
}

.search .search-content input::-ms-input-placeholder {
  font-size: 1rem;
  color: #282828;
}

.search .search-content input::placeholder {
  font-size: 1rem;
  color: #282828;
}

@media (min-width: 350px) and (max-width: 567px) {
  .search .search-content input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .search .search-content input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .search .search-content input::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .search .search-content input::placeholder {
    font-size: 1.2rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .search .search-content input::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::placeholder {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .search .search-content input::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::placeholder {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .search .search-content input::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::placeholder {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .search .search-content input::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search .search-content input::placeholder {
    font-size: 1.4rem;
  }
}

.search .search-content input:focus {
  outline: none;
}

.search .search-content .search-i {
  font-size: 1rem;
  margin-left: -3rem;
  border: #cecece;
  cursor: pointer;
}

@media (min-width: 350px) and (max-width: 567px) {
  .search .search-content .search-i {
    font-size: 1.2rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .search .search-content .search-i {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .search .search-content .search-i {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .search .search-content .search-i {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .search .search-content .search-i {
    font-size: 1.4rem;
  }
}

.add-cart {
  height: 100vh;
  z-index: 25;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  display: none;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .add-cart {
    display: block;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .add-cart {
    display: block;
  }
}

@media (min-width: 1440px) {
  .add-cart {
    display: block;
  }
}

.add-cart .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.add-cart .button button {
  font-size: 1.2rem;
  border: none;
  background: transparent;
  font-weight: 400;
  cursor: pointer !important;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  -webkit-transition: background 0.4s linear;
  transition: background 0.4s linear;
}

.add-cart .button button:hover {
  background: rgba(61, 61, 61, 0.1);
}

.add-cart .add-cart-content {
  height: 80%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 4rem;
}

.add-cart .add-cart-content .add-cart-product-info {
  width: 400px;
}

.add-cart .add-cart-content .add-cart-product-info img {
  height: auto;
  width: 100%;
}

.add-cart .add-cart-content .add-cart-product-info .add-cart-p-i-c {
  padding: 2rem 0;
}

.add-cart .add-cart-content .add-cart-product-info .add-cart-p-i-c h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.add-cart .add-cart-content .add-cart-product-info .add-cart-p-i-c h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.add-cart .add-cart-content .add-cart-product-info .add-cart-p-i-c p {
  font-weight: 300;
  text-transform: lowercase;
}

.add-cart .add-cart-content span {
  font-size: 2rem;
}

.add-cart .add-cart-content button {
  width: 100%;
  background: #282828;
  text-transform: uppercase;
  color: #fff;
  padding: 0.8rem 0;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.add-cart .add-cart-content .white {
  color: #282828;
  background: #fff;
  border: 1px solid #282828;
}

.dropback {
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(139, 139, 139, 0.4);
  display: none;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .dropback {
    display: block;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .dropback {
    display: block;
  }
}

@media (min-width: 1440px) {
  .dropback {
    display: block;
  }
}

.uni-drop {
  display: block;
}

.menu {
  height: 100vh;
  z-index: 25;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  width: 400px;
}

.menu .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem;
}

.menu .button button {
  font-size: 1.2rem;
  border: none;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  -webkit-transition: background 0.4s linear;
  transition: background 0.4s linear;
}

.menu .button button:hover {
  background: rgba(61, 61, 61, 0.1);
}

.menu .side-cart-content {
  height: 80%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto 2rem;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.menu .side-cart-content h2 {
  font-size: 3rem;
  text-align: center;
}

.menu .side-cart-content button {
  width: 100%;
  background: #282828;
  text-transform: uppercase;
  color: #fff;
  padding: 0.8rem 0;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.menu .side-cart-content .white {
  color: #282828;
  background: #fff;
  border: 1px solid #282828;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.close-button button {
  font-size: 1.2rem;
  border: none;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  -webkit-transition: background 0.4s linear;
  transition: background 0.4s linear;
}

.close-button button:hover {
  background: rgba(61, 61, 61, 0.1);
}

.side-dropback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  bottom: 0;
  z-index: 10;
  background-color: rgba(139, 139, 139, 0.4);
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .side-dropback {
    display: none;
  }
}

@media (min-width: 1440px) {
  .side-dropback {
    display: none;
  }
}

.side-menu {
  height: 120vh;
  z-index: 25;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  width: 60vw;
}

@media (min-width: 568px) and (max-width: 734px) {
  .side-menu {
    overflow: scroll;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .side-menu {
    overflow-y: scroll;
  }
}

.side-menu-content {
  border-bottom: 1px solid #cecece;
  margin: 0 2rem;
}

.side-menu-content a {
  color: inherit;
}

.side-menu-content li {
  list-style: none;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #282828;
  cursor: pointer;
}

@media (min-width: 350px) and (max-width: 567px) {
  .side-menu-content li {
    font-size: 1.1rem;
    padding: 0.8rem 0;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .side-menu-content li {
    font-size: 1.3rem;
    padding: 1rem 0;
  }
}

.home-box-container {
  padding: 0 1rem;
}

@media (min-width: 568px) and (max-width: 734px) {
  .home-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    place-content: center;
    padding-bottom: 5rem;
    grid-gap: 1rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .home-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[3];
        grid-template-columns: repeat(3, 200px);
    place-content: center;
    padding-bottom: 5rem;
    grid-gap: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .home-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
    place-content: center;
    padding-bottom: 5rem;
    grid-gap: 1rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px)[3];
        grid-template-columns: repeat(3, 350px);
    place-content: center;
    padding-bottom: 5rem;
    grid-gap: 1rem;
  }
}

@media (min-width: 1440px) {
  .home-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px)[3];
        grid-template-columns: repeat(3, 350px);
    place-content: center;
    padding-bottom: 5rem;
    grid-gap: 1rem;
  }
}

.home-box-container .home-box {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-gap: 2rem;
  cursor: pointer;
}

.home-box-container .home-box img {
  width: 90%;
  margin: 0rem auto;
  background: #cecece;
  height: auto;
  cursor: pointer;
  display: block;
}

@media (min-width: 735px) and (max-width: 1023px) {
  .home-box-container .home-box img {
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .home-box-container .home-box img {
    height: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home-box-container .home-box img {
    height: auto;
  }
}

@media (min-width: 1440px) {
  .home-box-container .home-box img {
    height: auto;
  }
}

.home-box-container .home-box .home-box-info {
  text-align: center;
  cursor: default;
}

.home-box-container .home-box .home-box-info h3 {
  width: 90%;
  margin: 0rem auto 1rem;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home-box-container .home-box .home-box-info h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1440px) {
  .home-box-container .home-box .home-box-info h3 {
    font-size: 1.6rem;
  }
}

.home-box-container .home-box .home-box-info h5 {
  font-weight: 300;
  font-size: 1rem;
  width: 90%;
  margin: 0rem auto 1rem;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .home-box-container .home-box .home-box-info h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .home-box-container .home-box .home-box-info h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-content {
    width: 60%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart-content {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .cart-content {
    width: 60%;
  }
}

.cart-content .cart-c-info {
  padding: 1rem 0;
}

.cart-content .cart-c-info h4 {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.cart-content .cart-c-info p {
  padding: 0.2rem 0;
}

.cart-content .cart-price-qty {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-content .cart-price-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart-content .cart-price-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .cart-content .cart-price-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cart-content .cart-price-qty .c-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0;
}

.cart-content .cart-price-qty .c-cont h5 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 2rem;
}

.cart-content .cart-c-delivery {
  padding: 1rem 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-content .cart-c-delivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    margin-left: -1rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart-content .cart-c-delivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    margin-left: -1rem;
  }
}

@media (min-width: 1440px) {
  .cart-content .cart-c-delivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    margin-left: -1rem;
  }
}

.cart-content .cart-c-delivery .delivery {
  padding: 0.5rem 0;
}

.cart-content .cart-c-delivery .delivery h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-content .cart-c-delivery .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart-content .cart-c-delivery .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1440px) {
  .cart-content .cart-c-delivery .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

.cart-content .cart-c-delivery .b-r-none {
  border-right: none;
}

.cart-content .cart-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-content .cart-remove {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart-content .cart-remove {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

@media (min-width: 1440px) {
  .cart-content .cart-remove {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

.cart-content .cart-remove h5 {
  margin-left: 1rem;
  cursor: pointer;
}

.delivery {
  padding: 0.5rem 0;
}

.delivery h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1440px) {
  .delivery {
    border-right: 1px solid #cecece;
    padding: 0.5rem 1rem;
  }
}

.total {
  max-width: 600px;
  margin: 4rem auto;
}

.total .d-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.total .sub {
  border-top: 1px solid #cecece;
}

.total .tot {
  border-top: 1px solid #cecece;
}

.total .left-h {
  color: #5a5a5a;
  font-weight: 200;
}

.total .right {
  color: #282828;
  font-weight: 500;
}

.total h2 {
  font-size: 2rem;
}

.total button {
  background: #282828;
  color: #fff;
  padding: 0.8rem 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem 0;
  cursor: pointer;
  border: none;
}

.t-c-dropback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 10;
  background-color: rgba(139, 139, 139, 0.4);
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .t-c-dropback {
    display: none;
  }
}

@media (min-width: 1440px) {
  .t-c-dropback {
    display: none;
  }
}

.top-c {
  z-index: 25;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.top-c .top-c-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.top-c .top-c-content h3 {
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (min-width: 350px) and (max-width: 567px) {
  .top-c .top-c-content h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 568px) and (max-width: 734px) {
  .top-c .top-c-content h3 {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .top-c .top-c-content h3 {
    font-size: 1.5rem;
  }
}

.top-c .top-c-content h3 span {
  font-size: 1.5rem;
}

@media (min-width: 350px) and (max-width: 567px) {
  .top-c .top-c-content h3 span {
    font-size: 1.9rem;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .top-c .top-c-content h3 span {
    font-size: 2.2rem;
  }
}

.top-c .top-c-content button {
  width: 100%;
  background: #282828;
  text-transform: uppercase;
  color: #fff;
  padding: 0.8rem 0;
  margin: 0.2rem 0;
  font-size: 0.7rem;
  border: none;
}

@media (min-width: 350px) and (max-width: 567px) {
  .top-c .top-c-content button {
    font-size: 1rem;
  }
}

@media (min-width: 568px) and (max-width: 734px) {
  .top-c .top-c-content button {
    font-size: 0.6rem;
    padding: 0.7rem 0;
  }
}

@media (min-width: 735px) and (max-width: 1023px) {
  .top-c .top-c-content button {
    font-size: 1rem;
  }
}

.top-c .top-c-content .white {
  color: #282828;
  background: #fff;
  border: 1px solid #282828;
}

.form {
  padding: 2rem;
}

@media (min-width: 735px) and (max-width: 1023px) {
  .form {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .form {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .form {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .form {
    width: 650px;
    margin: 0 auto;
  }
}

.form .formdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.form .formdiv label {
  font-size: 2rem;
  font-weight: 200;
  color: #282828;
}

.form .formdiv input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  outline: none;
  color: #282828;
  border-radius: 5px;
  border: 1px solid #cecece;
}

.form .formdiv input:focus {
  border: 1px solid #282828;
}

.form .formdiv input::-webkit-input-placeholder {
  color: #cecece;
}

.form .formdiv input:-ms-input-placeholder {
  color: #cecece;
}

.form .formdiv input::-ms-input-placeholder {
  color: #cecece;
}

.form .formdiv input::placeholder {
  color: #cecece;
}

.form .formdiv .inputLabelError {
  border: 1px solid #d80000;
}

.form .formdiv .inputLabelError:focus {
  border: 1px solid #ff0000;
}

.form button {
  padding: 0.6rem 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #cecece;
  background: white;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  cursor: pointer;
}

.form button:hover {
  background-color: #282828;
  color: #fff;
}

.form .alternate {
  padding: 1rem 0;
}

.form .alternate h4 {
  font-size: 18;
  font-weight: 300;
}

.form .alternate a {
  text-decoration: none;
  margin-top: 0.5rem;
  display: block;
  font-weight: bold;
  color: #282828;
  font-size: 18;
}

.collection .collection-heading {
  padding: 2rem 1rem 4rem;
  text-align: center;
}

.collection .collection-heading h4 {
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .collection .collection-heading h4 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .collection .collection-heading h4 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .collection .collection-heading h4 {
    font-size: 1.4rem;
  }
}

.collection .collection-heading h1 {
  margin: 0.5rem auto;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .collection .collection-heading h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .collection .collection-heading h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1440px) {
  .collection .collection-heading h1 {
    font-size: 4rem;
  }
}

.product-container {
  padding: 1rem 1rem;
  margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .product-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    max-width: 1000px;
  }
}

@media (min-width: 1440px) {
  .product-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    max-width: 1200px;
  }
}

.product-container .p-info {
  max-width: 400px;
  margin: 2rem auto;
}

.product-container .p-info .description {
  margin: 1rem 0;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .product-container .p-info .description {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .product-container .p-info .description {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .product-container .p-info h3 {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .product-container .p-info h3 {
    font-size: 20px;
  }
}

.product-container .p-info button {
  background: #282828;
  color: #fff;
  padding: 0.8rem 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  margin: 2rem 0 1rem;
  cursor: pointer;
  border: none;
}

.cart-h {
  margin: 3rem auto 0.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.cart {
  padding: 0 2rem 2rem;
  border-bottom: 1px solid #282828;
  max-width: 600px;
  margin: 4rem auto 2rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart {
    max-width: unset;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart {
    max-width: unset;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .cart {
    max-width: 1300px;
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.cart .img-placeholder {
  height: 40vh;
  background: #282828;
  margin: 0 auto;
  display: block;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cart .img-placeholder {
    width: 300px;
    height: 300px;
    margin-right: 3rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .cart .img-placeholder {
    width: 300px;
    height: 300px;
    margin-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .cart .img-placeholder {
    width: 300px;
    height: 300px;
    margin-right: 3rem;
  }
}
/*# sourceMappingURL=globals.css.map */